<!DOCTYPE html>
<html>
	<head>
		<title>LakeReview</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="/stylesheets/land.css">
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	</head>
	
	<body>
	<nav id="landNav" class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/">Lake Reviews</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/lakes">Lakes </a>
				</li>
			</ul>
			<ul class="navbar-nav mr-3 ">
				<% if (!currentUser){ %>
				<li class="nav-item navbar-right">
					<a class="nav-link " href="/login">Login</a>
				</li>
				<li class="nav-item navbar-right">
					<a class="nav-link " href="/register">Sign Up</a>
				</li>
				<% } else { %>
				<li class="nav-item navbar-right">
					<a class="nav-link active">Signed in: <%=currentUser.username%></a>
				</li>
				<li class="nav-item navbar-right">
					<a class="nav-link " href="/logout">Logout</a>
				</li>
				<% } %>
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>
	<div class="container ">
		<% if(error && error.length>0){ %>
		<div class="alert alert-danger mt-2 mb-2" role="alert">
			<%= error %>
		</div>
		<% } %> 
		<% if(success && success.length>0){ %>
		<div class="alert alert-success mt-2 mb-2" role="alert">
			<%= success %>
		</div>
		<% } %>
	</div>
	
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1> Welcome to Lake Reviews!</h1>
		<a href="/lakes" class="btn btn-lg button_style">View All Lakes</a>
    </div>
    
    <ul class="slideshow">
	  <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>